<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="persistenceUnit">
        <class>projekt.entitybeans.Actor</class>
        <class>projekt.entitybeans.Address</class>
        <class>projekt.entitybeans.Category</class>
        <class>projekt.entitybeans.City</class>
        <class>projekt.entitybeans.Country</class>
        <class>projekt.entitybeans.Customer</class>
        <class>projekt.entitybeans.Film</class>
        <class>projekt.entitybeans.Inventory</class>
        <class>projekt.entitybeans.Language</class>
        <class>projekt.entitybeans.Payment</class>
        <class>projekt.entitybeans.Rental</class>
        <class>projekt.entitybeans.Staff</class>
        <class>projekt.entitybeans.Store</class>
        <properties>
            <property name="hibernate.connection.url" value="jdbc:oracle:thin:@localhost:1521:hsrm"/>
            <property name="hibernate.connection.driver_class" value="oracle.jdbc.OracleDriver"/>
        </properties>
    </persistence-unit>
</persistence>
